.Post {
  padding-top: 2.5rem;
}

.Excerpt {
  padding: 0.5rem 0;
}

.Date {
  font-weight: 400;
  color: var(--color-dark-grey, #000);
}

a.btn{
  background: transparent;
    border: 1px solid #eaeaf1;
    display: inline-block;
    right: 20px;
    padding: 10px 20px 9px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #2f2f33;
    text-transform: uppercase;
    
}
a.btn:hover{
  background: dodgerblue;
    border: 1px solid #eaeaf1;
    font-size: 12px;
    color: white;
}