.Header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #252525;
  color:white;
}

.Container {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Lato',sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
}

.NavLink {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 12px;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: normal;
  color: #ffffff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.25s linear;
}

.NavLink:first-child {
  margin-left: 10px;
}

.NavLink_active,
.NavLink:hover {
  color: #0aaff1;
  border-bottom: 3px solid #0aaff1;
}

.img{
  max-width: 165px;;
}

@media only screen and (max-width:1000px){
  .Nav{
    display: none;
  }
}